<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<br>
    <table border="1">
        <thead>
            <tr>
                <th>Название</th><th>Описание</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                {% for object in object_list %}

                <tr>
                    <td>
                        <a href="{% url 'serie_detail_view' object.pk %}"> {{object.name}} </a><br>
                    </td>
                    <td>
                        {{object.description}}
                    </td>
                {% endfor %}
                </tr>
            </tr>
        </tbody>

    </table>

</body>
</html>


