<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Serie</title>
</head>
<body>
<form action="", method="get">
    {{ form }}
    <button type="submit">Найти</button>
</form>


<table border="1">
    <tr> <th><h2>Название</h2> </th><th><h2>Описание</h2></th></tr>
    <tr> {% for object in object_list %}
    <tr><td> <a href="{% url 'serie_detail_view' object.pk %}"> <h4>{{object.name}} </h4></a></td>
    <td> {{object.description}} </td>
        {% endfor %}
    </tr> </tr>

</table>

</body>
</html>


