{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}  Вход в магазин {% endblock %}
{% block content %}


{% if form.errors %}
<p>Имя пользователя и пароль не совпадают. ВВедите еще раз.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p> Ваша учетная запись не имеет доступа к этой странице. Войдите в систему с учетной записью, которая имеет доступ.</p>
    {% else %}
    <p>Введите логин и пароль для того, чтобы отобразилась страница.</p>
    {% endif %}
{% endif %}

<form method="post" style="width: 400px" action="{% url 'login' %}">
{% csrf_token %}
{{form|crispy}}


<div>
  <input type="submit" value="ВХОД" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>


<p><a href="{% url 'password_reset' %}">Забыли пароль? Нажмите тут </a></p>


{% endblock %}